*.lo*
*.DS*
*._*
*.so*
*.a*
*.la*
.deps*
.libs*
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/
configure
m4/
Makefile
barcode_demo
config.status
example/.dirstamp
libtool
*.o
image/*
stylagps_demo_static
stylssi_static.tar.xz
*.tar.xz
